# Build dirs
nrf_52_server/pristine/*
nrf_52_server/build/*
python_client/pressure_logs/*
python_client/__pycache__/*

# All hidden dirs and files except gitignore
.*
!/.gitignore

*.png
*.csv
projektmsc-jendoubi-wise2223.code-workspace
python_client/__pycache__/bmp581_client.cpython-312.pyc
python_client/__pycache__/build_csv.cpython-312.pyc
python_client/__pycache__/nrf_log_parser.cpython-312.pyc
python_client/__pycache__/plot_values.cpython-312.pyc
