# Build dirs
nrf_52_server/pristine/
nrf_52_server/build/
python_client/pressure_logs/
**/__pycache__/

# All hidden dirs and files except gitignore
.*
!/.gitignore

# Reading results
*.png
*.txt
*.csv

#IDE Specific files
*.code-workspace