# Build dirs
nrf_52_server/pristine/
nrf_52_server/build/
python_client/pressure_logs/
python_client/__pycache__/

# All hidden dirs and files except gitignore
.*
!/.gitignore

*.png
*.csv
projektmsc-jendoubi-wise2223.code-workspace
__*__