// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html


i2csensor:&i2c0 {
    /*
    compatible = "nordic,nrf-twim";
    zephyr,concat-buf-size = <1024>;	
    */
    status="okay";

    bmp581: bmp581@46{
        compatible = "i2c-device";
        reg = < 0x46 >;
        label = "BMP581";
    };
};
